@{
    ViewData["Title"] = "Home";
}

<div class="row mh-80">
    <div class="w-100 m-1 jumbotron bg-primary">
        <b class="display-2">Error Catcher</b>
        <footer class="blockquote-footer">捕捉一切的錯誤</footer>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category">Demo Chart</h5>
                <h3 class="card-title"><i class="tim-icons icon-notes text-primary"></i> 763,215</h3>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="lineChartExample"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>